[Desktop Entry]
Name=Fluxer-canary
Comment=Fluxer is a free and open source instant messaging and VoIP platform built for friends, groups, and communities.
GenericName=Internet Messenger
Exec=/usr/bin/fluxer-canary
Icon=fluxer-canary
Type=Application
Categories=Network;InstantMessaging;
