[Desktop Entry]
Name=Pear Desktop
Comment=A desktop application for YouTube Music with enhanced features
Exec=pear-desktop
Terminal=false
Type=Application
Icon=com.github.th-ch.youtube-music
StartupWMClass=com.github.th-ch.youtube-music
Categories=AudioVideo;
