[Desktop Entry]
Type=Application
Terminal=false
Exec=android-studio
Name=Android Studio
Comment=Android Studio
Categories=Programming;
Icon=android-studio.png
