[Desktop Entry]
Name=Logseq
Comment=A privacy-first, open-source knowledge management platform
GenericName=Knowledge management
Exec=logseq %U
Terminal=false
Type=Application
Icon=logseq
StartupWMClass=Logseq
Categories=Office;Utility;
MimeType=x-scheme-handler/logseq;
