[Desktop Entry]
Type=Application
Name=Jetbrains Rider
GenericName=Text Editor
Comment=A .NET and game development IDE.
Exec=rider
Icon=rider
Categories=Utility;TextEditor;Development;IDE;
Keywords=rider;
MimeType=text/plain;
