[Desktop Entry]
Name=ElecWhat
Exec=elecwhat %U
Terminal=false
Type=Application
Icon=elecwhat
StartupWMClass=elecwhat
Comment=Simple desktop whatsapp client for linux
Categories=Network;Chat;InstantMessaging;