[Desktop Entry]
Name=TeamSpeak 6
Comment=Communicate with your team mates cross-platform with security, lag-free performance & unparalleled reliability and uptime.
GenericName=Internet Messenger
Exec=teamspeak6
Icon=teamspeak6
Type=Application
Categories=Network;InstantMessaging;
