[Desktop Entry]
Name=Vesktop
Exec=vesktop %U
Terminal=false
Type=Application
Icon=dev.vencord.Vesktop
StartupWMClass=dev.vencord.Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
Comment=Vesktop is a custom Discord App aiming to give you better performance and improve linux support. Vencord comes pre-installed
MimeType=x-scheme-handler/discord
